<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cccc_addressvalidation_endereco_section>
            <connection>
                <enabled>0</enabled>
                <baseurl>https://endereco-service.de/rpc/v1</baseurl>
                <referer_mode>currentpage</referer_mode>
                <directrequests>1</directrequests>
            </connection>
            <integration>
                <frontend_checkout_shipping>1</frontend_checkout_shipping>
                <customer_addressbook>0</customer_addressbook>
            </integration>
            <features>
                <address_check>1</address_check>
                <force_valid_address>1</force_valid_address>
                <email_check>1</email_check>
                <email_show_warnings>1</email_show_warnings>
                <uppercase_firstname>0</uppercase_firstname>
                <uppercase_lastname>0</uppercase_lastname>
            </features>

            <field_mapping>
                <country>country_id</country>
                <postCode>postcode</postCode>
                <cityName>city</cityName>
                <street>street[0]</street>
                <houseNumber>street[1]</houseNumber>
                <email>#customer-email</email>
            </field_mapping>

            <development>
                <log_validation_requests>0</log_validation_requests>
                <javascript_debugging>0</javascript_debugging>
                <use_autocomplete>0</use_autocomplete>
            </development>

        </cccc_addressvalidation_endereco_section>
    </default>
</config>
