<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cccc_config" translate="label" sortOrder="10">
            <label>CCCC Config</label>
        </tab>
        <section id="cccc_addressvalidation_endereco_section" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Address Validation: Endereco</label>
            <tab>cccc_config</tab>

            <resource>CCCC_Addressvalidation::endereco_validation_configuration</resource>

            <group id="current_version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Version</label>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <backend_model>CCCC\Addressvalidation\Model\Config\Version</backend_model>
                </field>
            </group>

            <group id="connection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Connection and Authentication</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="directrequests" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use direct requests</label>
                    <comment>Use pass-through-requests between Browser and Shop-Backend, do not use the Magento-routing. Extended Webserver
                    configuration is required.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="baseurl" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>API Endpoint</label>
                    <comment>Endpoint URL of the Endereco-API</comment>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="authkey" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Auth-Key</label>
                    <comment>Authorization key retrieved from Endereco</comment>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="referer_mode" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Referer-Mode</label>
                    <comment>Referer to send to Endereco</comment>
                    <source_model>CCCC\Addressvalidation\Model\Config\Source\RefererMode</source_model>
                    <validate>validate-no-empty</validate>
                </field>
            </group>

            <group id="integration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Process integration</label>

                <field id="frontend_checkout_shipping" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend: Checkout - Shipping address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Apply validation to shipping address within checkout (frontend)</comment>
                </field>

                <field id="frontend_checkout_billing" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend: Checkout - Billing address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Apply validation to billing address within checkout (frontend)</comment>
                </field>
            </group>

            <group id="features" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Features to use</label>

                <field id="address_check" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable address check against Endereco</comment>
                </field>

                <field id="force_valid_address" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force valid address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Process can be continued only if the address was validated successfully. Option is used only of address check is also enabled.</comment>
                    <depends>
                        <field id="address_check">1</field>
                    </depends>
                </field>

                <field id="convert_firstname" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First name handling</label>
                    <source_model>CCCC\Addressvalidation\Model\Config\Source\NameConversion</source_model>
                    <validate>validate-no-empty</validate>
                    <depends>
                        <field id="address_check">1</field>
                    </depends>
                </field>

                <field id="convert_lastname" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Last name handling</label>
                    <source_model>CCCC\Addressvalidation\Model\Config\Source\NameConversion</source_model>
                    <validate>validate-no-empty</validate>
                    <depends>
                        <field id="address_check">1</field>
                    </depends>
                </field>

                <field id="email_check" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>eMail check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable eMail check against Endereco</comment>
                </field>

                <field id="email_show_warnings" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>eMail-warnings in frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display also eMail-Validation warnings in frontend/checkout</comment>
                    <depends>
                        <field id="email_check">1</field>
                    </depends>
                </field>


            </group>

            <group id="field_mapping" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Field mapping</label>
                <comment>Use HTML field names here to identify the fields. Use the same value for street and house number to use a combined address line.</comment>

                <field id="country" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Country</label>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="postCode" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Post code</label>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="cityName" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>City name</label>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="street" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Street</label>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="houseNumber" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>House number</label>
                </field>

                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>eMail</label>
                </field>
            </group>

            <group id="development" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Development</label>

                <field id="log_validation_requests" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Write validation log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Log requests/responses to the address validation api in the separate cccc-address-validation.log within the var/log-folder</comment>
                </field>

                <field id="javascript_debugging" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Javascript Debugging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the output of some JS-debug-outputs in your browsers Console</comment>
                </field>

                <field id="use_autocomplete" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>[BETA!] Enable Autocomplete Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable autocomplete-features - ABSOLUTE BETA. Do not activate on production or staging systems!</comment>
                </field>
            </group>
        </section>
    </system>
</config>
